body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #74b9ff, #a841b4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #2d3436;
    animation: fadeIn 1s ease-in-out;
}
.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 600px; /* Augmenté pour une plus grande largeur */
    animation: fadeIn 1s ease-in-out;
}

textarea {
    width: 95%;
    height: 150px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #dfe6e9;
    font-size: 1em;
    resize: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

textarea:focus {
    border-color: #a841b4;
    outline: none;
    box-shadow: 0 0 5px rgba(9, 132, 227, 0.5);
}

button {
    padding: 12px 25px;
    background-color: #a841b4;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #74b9ff;
    transform: translateY(-3px);
}

p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #2d3436;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}