<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Fake News Detector</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-text">
         Welcome to <span>FactCheckAI</span> <br> AI-Powered Fake News Detector 📰
    </div>
     <div class="progress-bar-container">
        <div class="progress-bar"></div>
    </div>

    <script>
        // After 5 seconds, redirect to the main page
        setTimeout(function() {
            window.location.href = '/main';  // Redirect to the home page
        }, 10000);

        let progress = 0;
        const progressBar = document.querySelector('.progress-bar');

        const interval = setInterval(() => {
            progress += 1;
            progressBar.style.width = progress + '%';

            if (progress >= 100) {
                clearInterval(interval);
            }
        }, 100);
    </script>
</body>
</html>




